<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.octo.ssd.mapper.PermissionMapper">

    <!-- 根据用户ID查询权限列表 -->
    <select id="selectPermissionsByUserId" resultType="com.octo.ssd.entity.Permission">
        SELECT DISTINCT p.*
        FROM tb_permission p
                 INNER JOIN tb_role_permission rp ON p.id = rp.perm_id
                 INNER JOIN tb_user_role ur ON rp.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <!-- 根据角色ID查询权限列表 -->
    <select id="selectPermissionsByRoleId" resultType="com.octo.ssd.entity.Permission">
        SELECT p.*
        FROM tb_permission p
                 INNER JOIN tb_role_permission rp ON p.id = rp.perm_id
        WHERE rp.role_id = #{roleId}
        ORDER BY p.perm_code
    </select>

</mapper>
